# Build artifacts
build/
maddy
maddyctl

# Dependencies
node_modules/
.venv/
__pycache__/

# Git
.git/
.gitmodules

# Tests and examples
testdata/
tests/
tmp/

# Editor and OS
.idea/
.vscode/
.DS_Store
*.swp
