[submodule "chatmail-core"]
	path = chatmail-core
	url = git@github.com:chatmail/core.git
[submodule "admin-web"]
	path = admin-web
	url = git@github.com:themadorg/madmail-admin-web.git
[submodule "madexchanger"]
	path = exchangers/madexchanger
	url = git@github.com:themadorg/madexchanger.git
[submodule "exchangers/madexchanger-php"]
	path = exchangers/madexchanger-php
	url = git@github.com:themadorg/madexchanger-php.git
